.container {
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
}

div {
  margin-top: 20px;
}

input[type="text"] {
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  height: 32px;
  line-height: 32px;
  color: #606266;
  padding: 0 10px;
}

select {
  color: #606266;
  height: 32px;
  line-height: 32px;
  outline: 0;
  padding: 0 15px;
  font-size: 14px;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
}

.submit-button {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 3px;
  color: #FFF;
  background-color: #409EFF;
  border: 1px solid #409EFF;
  cursor: pointer;
}

.submit-button:hover {
  background: #66b1ff;
  border-color: #66b1ff;
}

.submit-button:active {
  background: #3a8ee6;
  border-color: #3a8ee6;
}

.cancel-button {
  margin-left: 30px;
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 3px;
  color: #FFF;
  background-color: #c5cbd2;
  border: 1px solid #c5cbd2;
  cursor: pointer;
}

.cancel-button:hover {
  background: #596165;
  border-color: #596165;
}

.cancel-button:active {
  background: #484d52;
  border-color: #484d52;
}