.search {
  margin-bottom: 22px;
}

.search-tip {
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  text-align: right;
  vertical-align: middle;
  font-weight: 700;
  margin-left: 20px;
}

.search-text {
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  height: 32px;
  line-height: 32px;
  color: #606266;
  padding: 0 10px;
}

.search select {
  color: #606266;
  height: 32px;
  line-height: 32px;
  outline: 0;
  padding: 0 15px;
  font-size: 14px;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
}

.search-button {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 3px;
  color: #FFF;
  background-color: #409EFF;
  border: 1px solid #409EFF;
  cursor: pointer;
  margin-left: 20px;
}

.search-button:hover {
  background: #66b1ff;
  border-color: #66b1ff;
}

.search-button:active {
  background: #3a8ee6;
  border-color: #3a8ee6;
}

.page-board {
  font-size: 13px;
  min-width: 36px;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
}

.page-button {
  color: #C0C4CC;
  background-color: #FFF;
  font-size: 14px;
  min-width: 36px;
  height: 28px;
  line-height: 28px;
  border: none;
  cursor: pointer;
}

.page-button:hover {
  color: #409EFF;
}

.page-num {
  width: 20px;
}

.table table {
  width: 100%;
}

.table thead {
  color: #909399;
  font-weight: 500;
  border-bottom: 1px solid #EBEEF5;

}

.table thead th {
  text-align: center;
  padding: 12px 0;
  vertical-align: middle;
  color: #909399;
  font-weight: bold;
  display: table-cell;
}

.table tbody td {
  text-align: center;
  padding: 12px 0;
  vertical-align: middle;
  display: table-cell;
  line-height: 23px;
  font-size: 14px;
  color: #606266;
}

.table-button {
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: #409EFF;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.table-button:focus, .table-button:hover {
  color: #66b1ff;
  border-color: transparent;
  background-color: transparent;
}

.table-slide-button {
  appearance: none;
  display: inline-block;
  background-color: #DCDFE6;
  width: 40px;
  height: 20px;
  margin: 0;
  border-radius: 10px;
  border: 1px solid #DCDFE6;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.table-slide-button[checked] {
  border: #409EFF;
  background-color: #409EFF;
}

.table-slide-button:after {
  transition: all .3s;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  cursor: pointer;
}

.table-slide-button[checked]:after {
  left: 22px;
}

.add-button {
  padding: 7px 15px;
  color: #409EFF;
  background: #ecf5ff;
  border: 1px solid #b3d8ff;
  border-radius: 3px;
  line-height: 12px;
  cursor: pointer;
}

.add-button:hover {
  background: #409EFF;
  border-color: #409EFF;
  color: #FFF;
}