html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.container {
  height: 100%;
  position: relative;
}

.left-side {
  width: 210px;
  height: 100%;
  background-color: rgb(38, 52, 68);
  position: fixed;
  top: 0;
  border: 0;
}

.left-side li {
  margin-top: 30px;
}

.left-side li a {
  color: rgb(244, 244, 245);
  text-decoration: none;
  font-size: 14px;
}

.center {
  width: 86%;
  overflow: hidden;
  margin-left: 210px
}

.center .inner-header {
  border-bottom: 1px solid gray;
}

.center .inner-header h1 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 50px;
}

.center .inner-header input[type="button"] {
  margin-top: 20px;
  margin-right: 10px;
  float: right;
}

.center .inner-center {
  margin: 20px;
}