.container {
    width: 65%;
    min-width: 640px;
    margin: auto;
}

.header {
    margin-top: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.header a {
    text-decoration: none;
}

.header a:hover {
    color: #cb931c;
}

.header .article_search {
    float: right;
}

.content {
    overflow: hidden;
}

.footer {
    margin-top: 20px;
    border-top: 1px solid #d3d3d3;
    color: #d3d3d3;
    padding-top: 0;
    clear: both;
    line-height: 1.2;
}

.footer p {
    color: gray;
    font-size: 14px;
}

.footer a {
    color: gray;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}